:root {
  --color-primary: #060818;
  --color-secondary: #3b3f5c;
  --color-white: #fff;
  --color-gray: #efefef;
  --color-dark-gray: #494a55;
  --color-dark-theme: #0e1726;
  --color-table-header: #ebecef;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-gray);
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.dark-mode {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.page-container {
  padding: 78px 0 0 250px;
  min-height: calc(100vh - 78px);
}
.collapse-sidemenu .page-container {
  padding: 78px 0 0 68px;
}
.main-content {
  padding: 30px;
  min-height: calc(100vh - 180px);
}
.card {
  padding: 24px;
  background: var(--color-white);
  box-shadow: 0px 4px 11px rgb(0 0 0 / 10%);
  border-radius: 10px;
}
.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.form-footer .btn {
  min-width: 90px;
  margin-left: 5px;
}
